/* Estilos para o Dashboard */
.dashboard-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.dark-mode-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode-button:hover {
    background-color: #555;
}

.panel {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.box {
    flex: 0 1 calc(30% - 10px);
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box h3 {
    color: #333;
    font-size: 20px;
}

.box p {
    color: #666;
}
